<h2 class="subtitle">
  Spend per category
</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Category">Category</abbr></th>
      <%- spending_by_category_per_month[0][:data].keys.each do |value| %>
        <th><abbr title="<%= value %>"><%= value %></abbr></th>
      <%- end %>
      <th><abbr title="Mean">Mean</abbr></th>
    </tr>
  </thead>
  <tbody>
    <%- spending_by_category_per_month.each do |s| %>
    <tr>
      <td>
        <%= s[:name] %>
      </td>
      <%- s[:data].values.each do |value| %>
        <td>
          <%= Money.from_cents(value * 100).format %>
        </td>
      <%- end %>
      <td>
        <%= Money.from_cents(s[:mean] * 100).format %>
      </td>
    </tr>
    <%- end %>
    <tr>
      <td><strong>Sum</strong></td>
      <%- spending_by_category_per_month[0][:data].keys.each do |value| %>
        <%- sum = 0 %>
        <%- spending_by_category_per_month.each do |s| %>
          <%- if s[:data] && s[:data][value] %>
            <%- sum += s[:data][value] %>
          <%- end %>
        <%- end %>
        <td>
          <strong>
            <%= Money.from_cents(sum * 100).format %>
          </strong>
        </td>
      <%- end %>
      <td>
        <strong>
          <%= Money.from_cents(spending_by_category_per_month.map { |c| c[:mean] }.inject(&:+) * 100).format %>
        </strong>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><abbr title="Category">Category</abbr></th>
      <%- spending_by_category_per_month[0][:data].keys.each do |value| %>
        <th><abbr title="<%= value %>"><%= value %></abbr></th>
      <%- end %>
      <th><abbr title="Mean">Mean</abbr></th>
    </tr>
  </tfoot>
</table>
