<%= render partial: 'shared/header', locals: { title: 'Dashboard', subtitle: 'All the reports' } %>
<%= render partial: 'shared/date_filter' %>

<section class="section">
  <h1 class="title">
    Report 1
  </h1>
  <h2 class="subtitle">
    Number of Transactions
  </h2>
  <%= pie_chart @transactions.group(:category).count %>
</section>

<section class="section">
  <h1 class="title">
    Report 2
  </h1>
  <h2 class="subtitle">
    Total of Transactions
  </h2>
  <%= column_chart @transactions.group(:category).sum(:amount_cents) %>
</section>

<section class="section">
  <h1 class="title">
    Report 3
  </h1>
  <h2 class="subtitle">
    Restaurants
  </h2>
  <%= column_chart @all_transactions.where(category: :category_restaurants).group(:merchant).sum(:amount_cents) %>
</section>

