<%= render partial: 'shared/header', locals: { title: 'Dashboard', subtitle: 'All the reports' } %>
<%= render partial: 'shared/date_filter', locals: {startdate: @startdate, enddate: @enddate, sigother: @sigother} %>

<section class="section chart">
  <h1 class="title">
    Summary
  </h1>
  <h2 class="subtitle">
    Info
  </h2>
  <div class="block">
    <table class="table">
      <tbody>
        <tr>
          <td>Number of months:</td>
          <td><%= @number_of_months %></td>
        </tr>
        <tr>
          <td>Net:</td>
          <td><%= Money.from_cents(@budget_savings).format %></td>
        </tr>
        <tr>
          <td>Income:</td>
          <td><%= Money.from_cents(@summary_income).format %></td>
        </tr>
        <tr>
          <td>Spending:</td>
          <td><%= Money.from_cents(@summary_spending).format %></td>
        </tr>
        <tr>
          <td>Needs:</td>
          <td>
            <%= Money.from_cents(@budget_spending['needs'] * 100).format %>
            (<%= ((@budget_spending['needs'] * 100).to_f / @summary_spending * 100).truncate %>%)
          </td>
        </tr>
        <tr>
          <td>Wants:</td>
          <td>
            <%= Money.from_cents(@budget_spending['wants'] * 100).format %>
            (<%= ((@budget_spending['wants'] * 100).to_f / @summary_spending * 100).truncate %>%)
          </td>
        </tr>
        <tr>
          <td>Savings:</td>
          <td>
            <%= Money.from_cents(@budget_spending['savings'] * 100).format %>
            (<%= ((@budget_spending['savings'] * 100).to_f / @summary_spending * 100).truncate %>%)
          </td>
        </tr>
        <tr>
          <td>Avg Monthly Income:</td>
          <td><%= Money.from_cents(@summary_income / @number_of_months).format %></td>
        </tr>
        <tr>
          <td>Avg Monthly Spending:</td>
          <td><%= Money.from_cents(@summary_spending / @number_of_months).format %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="subtitle">
    Budget Spending
  </h2>
  <%= pie_chart @budget_spending %>
  <h2 class="subtitle">
    Number of Transactions
  </h2>
  <%= pie_chart @spend_count %>
  <h2 class="subtitle">
    Total Spend
  </h2>
  <%= pie_chart @spend %>
</section>

<section class="section chart">
  <h1 class="title">
    Per Month
  </h1>
  <h2 class="subtitle">
    Income
  </h2>
  <%= column_chart @income_per_month %>
  <h2 class="subtitle">
    Income by merchant
  </h2>
  <%= line_chart @income_per_month_by_merchant %>
  <h2 class="subtitle">
    Spending
  </h2>
  <%= column_chart @spend_per_month %>
  <h2 class="subtitle">
    Spend per category
  </h2>
  <%= line_chart @spending_by_category_per_month %>
  <h2 class="subtitle">
    Income and spending
  </h2>
  <%= line_chart @income_and_spending %>
  <h2 class="subtitle">
    Net
  </h2>
  <%= column_chart @net_per_month %>
</section>

<section class="section chart">
  <h1 class="title">
    Restaurants
  </h1>
  <h2 class="subtitle">
    Total (over $100)
  </h2>
  <%= column_chart @restaurants %>
  <h2 class="subtitle">
    Times (over 5)
  </h2>
  <%= column_chart @restaurant_times %>
</section>

<section class="section">
  <h1 class="title">
    Grocery
  </h1>
  <h2 class="subtitle">
    Total (over $100)
  </h2>
  <%= column_chart @grocery %>
</section>

<section class="section">
  <h1 class="title">
    Services
  </h1>
  <h2 class="subtitle">
    Total
  </h2>
  <%= column_chart @services %>
  <h2 class="subtitle">
    Total (over $100)
  </h2>
  <%= column_chart @services_expensive %>
</section>
