<%= render partial: 'shared/header', locals: { title: 'Reports', subtitle: 'Spending ' } %>
<%= render partial: 'shared/date_filter', locals: {startdate: @startdate, enddate: @enddate} %>

<section class="section chart">
  <h1 class="title">
    Restaurants
  </h1>
  <h2 class="subtitle">
    Total (over $100)
  </h2>
  <%= column_chart @restaurants %>
  <h2 class="subtitle">
    Times (over 5)
  </h2>
  <%= column_chart @restaurant_times %>
</section>

<section class="section">
  <h1 class="title">
    Grocery
  </h1>
  <h2 class="subtitle">
    Total (over $100)
  </h2>
  <%= column_chart @grocery %>
</section>

<section class="section">
  <h1 class="title">
    Services
  </h1>
  <h2 class="subtitle">
    Total
  </h2>
  <%= column_chart @services %>
  <h2 class="subtitle">
    Total (over $100)
  </h2>
  <%= column_chart @services_expensive %>
</section>
