<div class="budget-transaction-category" style="padding-top: 2rem;">
  <%= form.fields_for(:budget_transaction_categories, budget_transaction_category, child_index: (budget_transaction_category.id || 'NEW_RECORD')) do |category_form| %>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= category_form.label :transaction_category, style: "display: block", class: "label" %>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <%= category_form.select :transaction_category, options_for_select(Transaction.categories.map { |key, value| [Transaction.pretty_print_category(key), value] }, budget_transaction_category.transaction_category), {}, {class: ''} %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= category_form.label :amount, style: "", class: "label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= category_form.number_field :amount, class: "input" %>
          </div>
        </div>
      </div>
    </div>

    <%= category_form.hidden_field :_destroy %>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button type="button" data-action="budget-transaction-category#remove_association" class="button">Remove</button>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
