<%= render partial: 'shared/header', locals: { title: 'Edit Budget', subtitle: '' } %>
<p style="color: green"><%= notice %></p>

<section class="section">
  <h1 class="title">
    Budget: <%= @budget.id %>
  </h1>
  <%= render "form", budget: @budget %>
</section>

<div>
  <%= link_to "Show", @budget %> |
  <%= link_to "Listing", budgets_path %>
</div>
