<%= render partial: 'shared/header', locals: { title: 'Budget Detail', subtitle: '' } %>
<p style="color: green"><%= notice %></p>

<section class="section">
  <h1 class="title">
    Budget: <%= @budget.id %>
  </h1>
  <h2 class="subtitle">
    <%= @budget.name %>
  </h2>

  <%- @budget.budget_transaction_categories.each do |c| %>
    <%= Transaction.categories.key(c.transaction_category).gsub('category_', '').titleize %>
    :
    <%= Money.from_cents(c.amount_cents).format %>
    <br />
  <% end %>

</section>

<div class="field is-grouped">
  <%= link_to "Edit", edit_budget_path(@budget) %> |
  <%= link_to "Listing", budgets_path %> |
  <%= button_to "Destroy this budget", @budget, method: :delete, class: 'button is-danger' %>
</div>
