<%= render partial: 'shared/header', locals: { title: 'Budget Detail', subtitle: '' } %>
<%= render partial: 'shared/flash', locals: { notice: notice, errors: @budget.errors } %>

<section class="section">
  <h1 class="title">
    <%= @budget.name %>
  </h1>
  <h2 class="subtitle">
    ID <%= @budget.id %>
  </h2>

  <div class="block">
    <%= pie_chart @budget_transaction_categories %>
  </div>

  <div class="table-container">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th><abbr title="Category">Category</abbr></th>
          <th><abbr title="Amount">Amount</abbr></th>
          <th><abbr title="Mean">Mean &#40;past&#41;</abbr></th>
          <th><abbr title="Max">Max &#40;past&#41;</abbr></th>
          <th><abbr title="Min">Min &#40;past&#41;</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Category">Category</abbr></th>
          <th><abbr title="Amount">Amount</abbr></th>
          <th><abbr title="Mean">Mean &#40;past&#41;</abbr></th>
          <th><abbr title="Max">Max &#40;past&#41;</abbr></th>
          <th><abbr title="Min">Min &#40;past&#41;</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <%- @budget.budget_transaction_categories.each do |c| %>
          <% matching_spending_category = @spending_by_category_per_month.find(proc {{mean: 0, min: 0, max: 0}}) { |sc| sc[:category] == Transaction.categories.key(c.transaction_category).to_sym } %>
          <tr>
            <td><%= Transaction.pretty_print_category(Transaction.categories.key(c.transaction_category)) %></td>
            <td><%= Money.from_cents(c.amount_cents).format %></td>
            <td>
              <%= Money.from_cents(matching_spending_category[:mean] * 100).format %>
            </td>
            <td>
              <%= Money.from_cents(matching_spending_category[:max] * 100).format %>
            </td>
            <td>
              <%= Money.from_cents(matching_spending_category[:min] * 100).format %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Sum</strong></td>
          <td><strong><%= Money.from_cents(@budget.budget_transaction_categories.map{|c|c.amount_cents}.inject(&:+)).format %></strong></td>
          <td><strong><%= Money.from_cents(@spending_by_category_per_month.map { |c| c[:mean] }.inject(&:+) * 100).format %></strong></td>
          <td><strong><%= Money.from_cents(@spending_by_category_per_month.map { |c| c[:max] }.inject(&:+) * 100).format %></strong></td>
          <td><strong><%= Money.from_cents(@spending_by_category_per_month.map { |c| c[:min] }.inject(&:+) * 100).format %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr />

  <div class="block">
    <h1 class="title">
      Past Reference Data
    </h1>
    <%= render partial: 'dashboard/spend_per_category_listing', locals: {spending_by_category_per_month: @spending_by_category_per_month} %>
  </div>
</section>

<div class="field is-grouped">
  <%= link_to "Edit", edit_budget_path(@budget) %> |
  <%= link_to "Listing", budgets_path %>
</div>
<div class="field is-grouped">
  <%= button_to "Destroy this budget", @budget, method: :delete, class: 'button is-danger' %>
</div>
